#header {
  width: 100%;
  height: 48px;
  /* background-color: black; */
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
#nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 48px;
}

#nav .first-col {
  background-color: #ffffff;
  width: 50%;
  /* width: 100%; */
}
#nav .first-col ul {
  height: 48px;
  display: flex;
  /* justify-content: space-around; */
  justify-content: flex-end;
}
#nav .first-col .logo {
  height: 48px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#nav .second-col {
  background-color: #ffffff;
  width: 50%;
}
#nav .second-col ul {
  height: 48px;
  display: flex;
  justify-content: flex-end;
}
#header #nav a {
  font-family: roboto, arial, helvetica, sans-serif;
  color: black;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  line-height: 48px;
  padding: 0 26px;
  text-transform: uppercase;
}
#body {
  margin-top: 48px;
  min-height: 1000px;
  /* background-color: #f1f1f1; */
  background-color: white;
}
#body .container-0 {
  background-color: white;
  width: 100%;
  /* height: 298px; */
  height: 230px;
}
#body .container-0 .page-content {
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  font-family: roboto;
  padding-top: 85px;
}
#body .container-0 .content-text {
  font-family: roboto;
  text-align: center;
  color: #6e6d7a;
  max-width: 660px;
  margin: 0 auto;
}
/* #body .container-1 {
  display: flex;
  flex-direction: column;
} */

#body .container-1 {
  /* background-color: rgba(255, 0, 0, 0.1); */
  background-color: white;
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
}
#body .container-1 .item {
  width: 220px;
  height: 165px;
  /* background-color: yellowgreen; */
  border-radius: 8px;
  overflow: hidden;
}
#body .container-1 .item:hover {
  opacity: 0.6;
}

/* @media (max-width: 376px) { */
@media (max-width: 414px) {
  #nav .first-col {
    background-color: #ffffff;
    width: 100%;
  }
  #nav .first-col .logo {
    height: 48px;
    padding-right: 24px;
  }
  #nav .first-col .hidden {
    display: none;
  }
  #nav .second-col .hidden {
    display: none;
  }
  #body .container-1 {
    display: none;
  }
  #body_0 {
    margin-top: 48px;
  }
  #body_0 h2 {
    line-height: 40px;
  }
}
@media (min-width: 415px) {
  #body_0 {
    display: none;
  }
}
